img{
    width: 200px;
    border-radius: 20%;
    border: black 2px solid;
    margin-bottom: 16px;
    }
    footer{
        font-size: 14px;
        color: grey;
        margin-top: 20px;
    }
    body{
        padding: 20px;
        text-align: center;
        background-image: url(images/skyimage.png);
        background-size: cover;
    }
    h1{
        margin-bottom: 16px;
    }
